# Dependencies
node_modules/

# Build
dist/
boing-wallet-extension.zip
*.local
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Env
.env
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
nul

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Wrangler
.wrangler/
